{% extends 'base.html' %}

{% block title %}Все записи{% endblock %}

{% block content %}
<h2>Все записи</h2>
<ul>
    {% for record in page_obj %}
    <li>{{ record.title }}</li>
    {% endfor %}
</ul>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; в начало</a>
            <a href="?page={{ page_obj.previous_page_number }}">назад</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">вперед</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
